# Ignore docs files
.vscode

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
# *.lock

# OS or Editor folders
*.scssc
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.asset-cache

# Folders to ignore
node_modules
# public - for demo, lets' upload the public folder
public
# elm related
elm-stuff


# is a theme, luego  
/assets/TAGS
/hugo_stats.json
**/_def/
resources/_gen/
resources/_gen/*
/old-assets/
/static/assets
/TAGS
*.html#
/pre-delete/

